*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
    transition: 0.2s linear;
}
a{
    text-decoration: none;
}
nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgb(255, 252, 242);
    padding: 10px;
    border-width: 2px;
    z-index: 1000;
    filter: drop-shadow(8px 8px 10px rgb(103, 171, 159));

}
nav .nav_content{
    height: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .nav_content .logo a{
    padding-left: 20px;
    font-size: 35px;
    color: rgb(9, 0, 28);
    font-family: "Unica One", monospace;
    font-weight: normal;
}
nav .nav_content .nav_links{
    display: flex;
    align-items: center;
}
nav .nav_links li{
    list-style: none;
    margin: 0 8px;
}
nav .nav_links a{
    font-size: 16px;
    color: rgb(9, 0, 28);
    background-color: rgb(213, 232, 212);
    padding: 10px 15px;
    border-radius: 15px;
    border-width: 2px;
    transition: all 0.3s ease;
}
nav .nav_links a:hover{
    background-color: rgb(103, 171, 159);
}

#top{
    max-width: fit-content;
    margin-right: auto;
    margin-left: auto;
    margin-top: 6em;
    
}

.container{
    padding: 0.2rem 5%;
    transition: 0.2s linear;
}

.container .image-container{
    display: inline-block;
    columns: 15rem 3;
    gap: 1.4rem;
}

.wrap{
    position: relative;
}
.wrap img{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.7rem;   
}
.wrap .overlay-text{
    position: absolute;
    inset: 0;
    background: rgb(103, 171, 159, 0.5);
    opacity: 0;
    width: 100%;
    border-radius: 0.7rem;
    padding: 2em;
}
.wrap .overlay-text p{
    color:rgb(255, 252, 242);
}
.wrap .overlay-text, .wrap img{
    transition: 0.3s ease-in-out;
}
.wrap .overlay-text:hover{
    opacity: 1;
}
.wrap:hover img{
    filter: blur(1px) brightness(75%);
}

body{
    background-color: rgb(195, 221, 229);
    font-family: "Lexend", sans-serif;
    font-size: 17px;
    color: rgb(9, 0, 28);
}
h1{
    font-family: "Unica One", monospace;
    font-size: 35px;
    color: rgb(255, 252, 242)
}
h2{
    font-family: "Unica One", monospace;
    font-size: 60px;
    color: rgb(9, 0, 28);
}
h3{
    font-family: "Josefin Sans", sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: rgb(255, 252, 242);
}
h4{
    font-family: "Josefin Sans", sans-serif;
    font-size: 23px;
    font-weight: bold;
    color: rgb(255, 238, 161);
}
h5{
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    color: rgb(213, 232, 212);
}
h6{
    font-family: "Lexend", sans-serif;
    font-size: 16px;
    color: rgb(9, 0, 28);
}
a{
    color: rgb(247, 160, 114);
}
a:hover{
    color: rgb(255, 238, 161);
}
.emph{
    color: rgb(255, 238, 161);
    font-size: 15px;
    font-weight: bold;
}
li{
    margin: .75em;
}

