*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}
a{
    text-decoration: none;
}
nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgb(255, 252, 242);
    padding: 10px;
    border-style: solid;
    border-color: rgb(9, 0, 28);
    border-width: 2px;
    z-index: 10;

}
nav .nav_content{
    height: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .nav_content .logo a{
    padding-left: 20px;
    font-size: 35px;
    color: rgb(9, 0, 28);
    font-family: "Unica One", monospace;
    font-weight: normal;
}
nav .nav_content .nav_links{
    display: flex;
    align-items: center;
}
nav .nav_links li{
    list-style: none;
    margin: 0 8px;
}
nav .nav_links a{
    font-size: 16px;
    color: rgb(9, 0, 28);
    background-color: rgb(213, 232, 212);
    padding: 10px 15px;
    border-style: solid;
    border-color: rgb(9, 0, 28);
    border-radius: 15px;
    border-width: 2px;
    transition: all 0.3s ease;
}
nav .nav_links a:hover{
    background-color: rgb(103, 171, 159);
}
#home{
    height: 100vh;
    width: 100%;
    background-image: url(water-final-resized.gif);
    background-size: cover;
    background-position: center;
}
.image_overlay_text1{
    font-family: "Unica One", monospace;

    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 60px;
    color: rgb(63, 83, 125);
    text-shadow: rgb(255, 238, 161) 0px 0px 3px;
    -webkit-font-smoothing: antialiased;
}
.image_overlay_text2{
    font-family: "Unica One", monospace;
    font-weight: bold;
    color: rgb(255, 252, 242);

    position: absolute;
    top: 50%;
    left: 15%;
    font-size: 150px;
    text-shadow: rgb(63, 83, 125) 0px 0px 3px;
    -webkit-font-smoothing: antialiased;
}
.intro-block{
    width: 100%;
}
#intro{
    float: left;
    width: 50%;
    padding: 80px;
}
.skills{
    padding-top: 2em;
    width: 100%;
}
.skills th{
    padding: 5px;
}
.skills img{
    height: 80px;
}
.shark{
    width: 50%;
    float:right;
}
.shark img{
    width: 100%;
    padding: 20px;
}
.people-ive-worked-with{
    width: 75%;
    margin: auto;
    text-align: center;
}
.people-ive-worked-with img{
    height: 10em;
}
#projects{
    margin-top: 5em;
    width: 100%;
    text-align: center;
}
#projects h3{
    font-size: 50px;
    margin-top: 3em;
}
#projects h4{
    width: 30%;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    margin-top: 1em;
    border-top: thick double rgb(103, 171, 159);
}
#projects h5{
    margin: 0.5em;
}
#projects p{
    width: 80%;
    margin: auto;
}
.big-image{
    margin-top: 2em;
}
#lindemann-gallery{
    width: 80%;
    margin: auto;
    text-align: center;
}
#lindemann-gallery img{
    width: 100%;
}
#lindemann-experiments-header {
    font-family: "Unica One", monospace;
    font-size: 80px;
    color: rgb(255, 252, 242);
    padding: 40px;
}
.experiment-visual{
    padding-left: 2em; 
}
.big-image{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.container{
    overflow: hidden;
    white-space: nowrap;
    margin-top: 2em;

    /*width: 100%;
    height: 25em;
    margin-left: auto;
    margin-right: auto;*/
    
    

}
.container:hover .image-container{
    animation-play-state: paused;
}
.image-container{
    /*width: 100%;*/
    display: inline-flex;
    animation-name: slide;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    

}
.image-container img{
    width: 720px;
    height: 100%;
}
@keyframes slide{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}
.character-animation h5{
    font-size: 27px;
}
.character-example{
    white-space: nowrap;
    float: left;
    margin-top: 7em;
}
.renders{
    width: 95%;
    margin: auto;
    white-space: nowrap;
    margin-top: 3em;
}
.renders img{
    margin: auto;
    display: inline;
    width: 25%;
    border: thin solid rgb(213, 232, 212);
}
.wireframe{
    width: 95%;
    margin: auto;
}
.wireframe img{
    margin: auto;
    display: inline;
    width: 33%;
}
.expression-table {
    width: 60%;
    float: left;
    margin-left: 2em;
    margin-right: 2em;
}
.expression-table img{
    width: 75%;
}
.table-and-text{
    display: inline;
    margin: auto;
}
.model-text{
    width: 30%;
    float: right;
    margin-right: 6em;
    margin-top: 10%;
    padding-top: 2em;
    padding-bottom: 2em;
    border-top: thick double rgb(103, 171, 159);
    border-bottom: thick double rgb(103, 171, 159);
    
}
body{
    background-color: rgb(63, 83, 125);

    font-family: "Lexend", sans-serif;
    font-size: 14px;
    color: rgb(255, 252, 242);
}
h1{
    font-family: "Unica One", monospace;
    font-size: 35px;
    color: rgb(255, 252, 242)
}
h2{
    font-family: "Unica One", monospace;
    font-size: 35px;
    color: rgb(9, 0, 28);
}
h3{
    font-family: "Josefin Sans", sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: rgb(255, 252, 242);
}
h4{
    font-family: "Josefin Sans", sans-serif;
    font-size: 23px;
    font-weight: bold;
    color: rgb(255, 238, 161);
}
h5{
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    color: rgb(213, 232, 212);
}
h6{
    font-family: "Lexend", sans-serif;
    font-size: 16px;
    color: rgb(9, 0, 28);
}
a{
    color: rgb(247, 160, 114);
}
a:hover{
    color: rgb(255, 238, 161);
}
.emph{
    color: rgb(255, 238, 161);
    font-size: 15px;
    font-weight: bold;
}


#fcf-form {
    display:block;
}

.fcf-body {
    margin: 0;
    font-family: -apple-system, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    padding: 30px;
    padding-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    max-width: 100%;
}

.fcf-form-group {
    margin-bottom: 1rem;
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.fcf-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
    border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
    height: auto;
}

textarea.fcf-form-control {
    font-family: -apple-system, Arial, sans-serif;
    height: auto;
}

label.fcf-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.fcf-credit {
    padding-top: 10px;
    font-size: 0.9rem;
    color: #545b62;
}

.fcf-credit a {
    color: #545b62;
    text-decoration: underline;
}

.fcf-credit a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.fcf-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .fcf-btn {
        transition: none;
    }
}

.fcf-btn:hover {
    color: #212529;
    text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.fcf-btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.fcf-btn-block {
    display: block;
    width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
    width: 100%;
}