*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}
a{
    text-decoration: none;
}
nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgb(255, 252, 242);
    padding: 10px;
    border-width: 2px;
    z-index: 10;
    filter: drop-shadow(8px 8px 10px rgb(103, 171, 159));

}
nav .nav_content{
    height: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .nav_content .logo a{
    padding-left: 20px;
    font-size: 35px;
    color: rgb(9, 0, 28);
    font-family: "Unica One", monospace;
    font-weight: normal;
}
nav .nav_content .nav_links{
    display: flex;
    align-items: center;
}
nav .nav_links li{
    list-style: none;
    margin: 0 8px;
}
nav .nav_links a{
    font-size: 16px;
    color: rgb(9, 0, 28);
    background-color: rgb(213, 232, 212);
    padding: 10px 15px;
    border-radius: 15px;
    border-width: 2px;
    transition: all 0.3s ease;
}
nav .nav_links a:hover{
    background-color: rgb(103, 171, 159);
}
#home{
    height: 100vh;
    width: 100%;
    background-image: url(water-final-resized.gif);
    background-size: cover;
    background-position: center;
}
.image_overlay_text1{
    font-family: "Unica One", monospace;

    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 60px;
    color: rgb(63, 83, 125);
    text-shadow: rgb(255, 238, 161) 0px 0px 3px;
    -webkit-font-smoothing: antialiased;
}
.image_overlay_text2{
    font-family: "Unica One", monospace;
    font-weight: bold;
    color: rgb(255, 252, 242);

    position: absolute;
    top: 50%;
    left: 15%;
    font-size: 150px;
    text-shadow: rgb(63, 83, 125) 0px 0px 3px;
    -webkit-font-smoothing: antialiased;
}
.intro-block{
    width: 100%;
}
#intro{
    float: left;
    width: 50%;
    padding: 80px;
}
.skills{
    padding-top: 2em;
    width: 100%;
}
.skills th{
    padding: 5px;
}
.skills img{
    height: 80px;
}
.skills-container{
    width: 100%;
    overflow: hidden;
    margin-bottom: 2em;
    white-space: nowrap;
}
.skills-slide{
    
    
    display: inline-block;
}
.skills-container:hover .skills-slide{
    animation-play-state: paused;
}
.skills-slide img{
    width: 100%;
}
@keyframes slide-s{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}
.shark{
    width: 50%;
    float:right;
}
.shark img{
    width: 75%;
}
.people-ive-worked-with{
    width: 75%;
    margin: auto;
    text-align: center;
}
.people-ive-worked-with img{
    height: 10em;
}
#projects{
    margin-top: 5em;
    width: 100%;
    text-align: center;
    border-bottom:thick double rgb(103, 171, 159);
    padding-bottom: 5em;
}
#projects h3{
    font-size: 50px;
    margin-top: 3em;
}
#projects h4{
    width: 30%;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    margin-top: 1em;
    border-top: thick double rgb(103, 171, 159);
}
#projects h5{
    margin: 0.5em;
}
#projects p{
    width: 80%;
    margin: auto;
}
.big-image{
    margin-top: 2em;
}
#lindemann-gallery{
    width: 80%;
    margin: auto;
    text-align: center;
}
#lindemann-gallery img{
    width: 100%;
}
#lindemann-experiments-header {
    font-family: "Unica One", monospace;
    font-size: 80px;
    color: rgb(255, 252, 242);
    padding: 40px;
}
.experiment-visual{
    padding-left: 2em; 
}
.big-image{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.container{
    overflow: hidden;
    white-space: nowrap;
    margin-top: 2em;

    /*width: 100%;
    height: 25em;
    margin-left: auto;
    margin-right: auto;*/
    
    

}
.container:hover .image-container{
    animation-play-state: paused;
}
.image-container img:hover{
    width: 800px;
    filter: drop-shadow(8px 8px 10px rgb(103, 171, 159));
}
.image-container{
    /*width: 100%;*/
    display: inline-flex;
    animation-name: slide;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    

}
.image-container img{
    width: 720px;
    height: 100%;
    transition: all 0.5s ease;
}
@keyframes slide{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}
.character-animation h5{
    font-size: 27px;
}
.character-example{
    width: 100%;
    margin-top: 7em;
}
.renders{
    width: 95%;
    margin: auto;
    white-space: nowrap;
    margin-top: 3em;
}
.renders img{
    margin: auto;
    display: inline;
    width: 25%;
    border: thin solid rgb(213, 232, 212);
}
.wireframe{
    width: 95%;
    margin: auto;
}
.wireframe img{
    margin: auto;
    display: inline;
    width: 33%;
}
.expression-table {
    width: 60%;
    display: inline-block;
}
.expression-table img{
    width: 75%;
}
.table-and-text{
    width: 100%;
    white-space: nowrap;
}
.model-text{
    width: 35%;
    margin-right: 4em;
    margin-bottom: 3em;
    border-top: thick double rgb(103, 171, 159);
    border-bottom: thick double rgb(103, 171, 159);
    overflow: auto;
    display: inline-block;
    white-space: normal;
    padding: 1.5em;
    
}

#contact-card{
    margin-top: 2em;
}
.email-socials{
    width: 100%;
}
.end-quote h1{
    margin-left: 2em;
    color: rgb(213, 232, 212);
}
.end-quote h2{
    margin-left: 17em;
    color: rgb(255, 252, 242);
}

.email-form{
    display: inline-block;
    width: 70%;
    margin-right: 2em;
    padding: 6em;
    border-right: thick double rgb(103, 171, 159);

    font-size: 20px;
    line-height: 2em;

}
.form-email{
    resize: none;
}
.form-email input{
    width: 100%;
}
.form-subject textarea{
    resize: none;
    width: 100%;
}
.form-message textarea{
    width: 100%;
    height: 10em;
}
.email-form button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 75px;
    font-size: 20px;
    color: rgb(9, 0, 28);
    padding: 10px 15px;
    border-style: none;
    border-radius: 15px;
    border-width: 2px;
    cursor: pointer;

    transition: all 0.5s ease;

    background-size: 300% 100%;
    background-image: linear-gradient(90deg, rgb(213, 232, 212), rgb(213, 232, 212), rgb(103, 171, 159), rgb(255, 238, 161));

}
.email-form button:hover{
    width: 160px;
    filter: drop-shadow(8px 8px 10px rgb(103, 171, 159));
    background-position: 100% 0px;
    
}
.socials{
    display: inline-block;
    position: relative;
    top: 80px;
    margin-left: 4em;
}
.socials img{
    width: 8em;
    position: static;
    transition: all 0.5s ease;
}
.socials img:hover{
    width: 9em;
    filter: drop-shadow(8px 8px 10px rgb(103, 171, 159));
}
.socials li{
    margin-bottom: -1em;
    list-style-type: none;
}
.footer-caustics{
    width: 100%;
    position:relative;
    z-index: -1;
}
.footer-caustics img{
    width: 100%;
    position: absolute;
    bottom: 0px;
}
footer{
    margin: 2em;
    text-align: center;
}
footer p{
    font-family: "Unica One", monospace;
    font-size: 25px;
    color: rgb(255, 252, 242)
}
body{
    background-color: rgb(63, 83, 125);
    font-family: "Lexend", sans-serif;
    font-size: 17px;
    color: rgb(255, 252, 242);
}
h1{
    font-family: "Unica One", monospace;
    font-size: 35px;
    color: rgb(255, 252, 242)
}
h2{
    font-family: "Unica One", monospace;
    font-size: 35px;
    color: rgb(9, 0, 28);
}
h3{
    font-family: "Josefin Sans", sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: rgb(255, 252, 242);
}
h4{
    font-family: "Josefin Sans", sans-serif;
    font-size: 23px;
    font-weight: bold;
    color: rgb(255, 238, 161);
}
h5{
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    color: rgb(213, 232, 212);
}
h6{
    font-family: "Lexend", sans-serif;
    font-size: 16px;
    color: rgb(9, 0, 28);
}
a{
    color: rgb(247, 160, 114);
}
a:hover{
    color: rgb(255, 238, 161);
}
.emph{
    color: rgb(255, 238, 161);
    font-size: 15px;
    font-weight: bold;
}

li{
    margin: .75em;
}