*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}
a{
    text-decoration: none;
}
nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgb(255, 252, 242);
    padding: 10px;
    border-style: solid;
    border-color: rgb(9, 0, 28);
    border-width: 2px;
    z-index: 10;

}
nav .nav_content{
    height: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .nav_content .logo a{
    padding-left: 20px;
    font-size: 35px;
    color: rgb(9, 0, 28);
    font-family: "Unica One", monospace;
    font-weight: normal;
}
nav .nav_content .nav_links{
    display: flex;
    align-items: center;
}
nav .nav_links li{
    list-style: none;
    margin: 0 8px;
}
nav .nav_links a{
    font-size: 16px;
    color: rgb(9, 0, 28);
    background-color: rgb(213, 232, 212);
    padding: 10px 15px;
    border-style: solid;
    border-color: rgb(9, 0, 28);
    border-radius: 15px;
    border-width: 2px;
    transition: all 0.3s ease;
}
nav .nav_links a:hover{
    background-color: rgb(103, 171, 159);
}
#home{
    height: 100vh;
    width: 100%;
    background-image: url(water-final-resized.gif);
    background-size: cover;
    background-position: center;
}
.image_overlay_text1{
    font-family: "Unica One", monospace;

    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 60px;
    color: rgb(63, 83, 125);
    text-shadow: rgb(255, 238, 161) 0px 0px 3px;
    -webkit-font-smoothing: antialiased;
}
.image_overlay_text2{
    font-family: "Unica One", monospace;
    font-weight: bold;
    color: rgb(255, 252, 242);

    position: absolute;
    top: 50%;
    left: 15%;
    font-size: 150px;
    text-shadow: rgb(63, 83, 125) 0px 0px 3px;
    -webkit-font-smoothing: antialiased;
}
.intro-block{
    width: 100%;
}
#intro{
    float: left;
    width: 50%;
    padding: 80px;
}
.skills{
    padding-top: 2em;
    width: 100%;
}
.skills th{
    padding: 5px;
}
.skills img{
    height: 80px;
}
.shark{
    width: 50%;
    float:right;
}
.shark img{
    width: 100%;
    padding: 20px;
}
.people-ive-worked-with{
    width: 75%;
    margin: auto;
    text-align: center;
}
.people-ive-worked-with img{
    height: 10em;
}
#projects{
    margin-top: 5em;
    width: 100%;
    text-align: center;
}
#projects h3{
    font-size: 50px;
    margin-top: 3em;
    margin-bottom: 2em;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: thick double rgb(103, 171, 159);
}
#projects h4{
    font-size: 30px;
}
#projects h5{
    margin: 0.5em;
}
#projects p{
    width: 80%;
    margin: auto;
}
.big-image{
    margin-top: 2em;
}
#lindemann-gallery{
    width: 80%;
    margin: auto;
    text-align: center;
}
#lindemann-gallery img{
    width: 100%;
}
#lindemann-experiments-header {
    font-family: "Unica One", monospace;
    font-size: 80px;
    color: rgb(255, 252, 242);
    padding: 40px;
}
body{
    background-color: rgb(63, 83, 125);

    font-family: "Lexend", sans-serif;
    font-size: 14px;
    color: rgb(255, 252, 242);
}
h1{
    font-family: "Unica One", monospace;
    font-size: 35px;
    color: rgb(255, 252, 242)
}
h2{
    font-family: "Unica One", monospace;
    font-size: 35px;
    color: rgb(9, 0, 28);
}
h3{
    font-family: "Josefin Sans", sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: rgb(255, 252, 242);
}
h4{
    font-family: "Josefin Sans", sans-serif;
    font-size: 23px;
    font-weight: bold;
    color: rgb(255, 238, 161);
}
h5{
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    color: rgb(213, 232, 212);
}
h6{
    font-family: "Lexend", sans-serif;
    font-size: 16px;
    color: rgb(9, 0, 28);
}
a{
    color: rgb(247, 160, 114);
}
a:hover{
    color: rgb(255, 238, 161);
}
.emph{
    color: rgb(255, 238, 161);
    font-size: 15px;
    font-weight: bold;
}